<mat-button-toggle-group class="reaction-icons flex justify-between">
    <mat-button-toggle class="reaction-icon p-2 rounded-full hover:bg-sky-200 focus:outline-none">&#128077;</mat-button-toggle>
    <mat-button-toggle class="reaction-icon p-2 rounded-full hover:bg-sky-200 focus:outline-none">&#128078;</mat-button-toggle>
    <mat-button-toggle class="reaction-icon p-2 rounded-full hover:bg-sky-200 focus:outline-none">&#128079;</mat-button-toggle>
    <mat-button-toggle class="reaction-icon p-2 rounded-full hover:bg-sky-200 focus:outline-none">&#128148;</mat-button-toggle>
</mat-button-toggle-group>
